<ion-view class="view-form" hide-nav-bar="true">
  <ion-content scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="box text-center">
          <div class="lead">
            <p>Welcome!</p>
            <p>We have few questions to you</p>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box text-center">
          <h1>Slide #2</h1>
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box text-center">
          <h1>Slide #3</h1>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
