/*body, ion-nav-view, ion-content, ion-header-bar {
  background-color: black !important;
}*/
body {
  background-color: black;
  font-family: 'Firasans', 'Tahoma';
}

.preloadImages {
  visibility: hidden;
}
