.view-form {
  div.swiper-pagination {
    position: absolute;
    bottom:10px;
    left: 0;
    right: 0;
    background-color:transparent;
    span {
      &.swiper-pagination-bullet {
        background-color: white;
        &.swiper-pagination-bullet-active {
          background-color: white;
        }
      }
    }
  }

  ion-content {
    background-image: url(../img/earth_animation.jpg);
    background-size: 100%;
  }

  div.lead {
    text-align: center;
    margin-top: 30%;
    text-transform: uppercase;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  div.step {
    margin-top:10%;
    text-align: center;
    img {
      width: 60%;
    }
  }

  div.question {
    margin-top:20px;
    color: #a2a1b8;

    > p {
      color: white;
      font-size: 1.2em;
    }

    button {
      &.button {
        padding-left: 1.2em;
        padding-right: 1.2em;
        display: block;
        margin: 1.8em auto auto auto;
      }
    }

    .item.range {
      background-color: transparent;
      border: none;
      margin: 0 13%;
      input {

      }
    }

    ul {
      margin-top: 15px;
      li {
        display: inline-block;
        background-size: 100% !important;

        &:nth-child(1) {
          margin-right: 1em;
        }
        &.option-gender-female {
            background: url(../img/femaleunclicked.svg) no-repeat;
            width: 60px;
            height:80px;
            &-clicked {
              background: url(../img/femaleclicked.svg) no-repeat;
              width: 60px;
              height:80px;
            }
        }
        &.option-gender-male {
            background: url(../img/maleunclicked.svg) no-repeat;
            width: 65px;
            height:80px;
            &-clicked {
              background: url(../img/malecliked.svg) no-repeat;
              width: 65px;
              height:80px;
            }
        }
      }
    }
  }
}
