.view-form {
  div.swiper-pagination {
    position: absolute;
    bottom:10px;
    left: 0;
    right: 0;
    background-color:transparent;
    span {
      &.swiper-pagination-bullet {
        background-color: white;
        &.swiper-pagination-bullet-active {
          background-color: white;
        }
      }
    }
  }

  ion-content {
    background-image: url(../img/earth_animation.gif);
    background-size: 100%;
  }

  div.lead {
    text-align: center;
    margin-top: 30%;
    text-transform: uppercase;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
