.view-main {
  ion-content {
    background-image: url(../img/bg_default.jpg);
    background-size: 100%;
    padding-top:25%;
  }

  .slide-tiles {
      ul.steps {
        li {
          display: inline;
          img[src$='kafelek.svg'], img[src$='kafelekuncliked.svg'] {
            height: 2.5vh;
          }
          img[src$='pasek.svg'] {
            height: 0.2vh;
            position: relative;
            top: -1.2vh;
          }
        }
      }
      .tiles {
        margin-top:5%;
        div.row {
          margin:0 !important;

          .col {
            padding-bottom: 0;
            padding-top: 0;
            position: relative;

            > div {
              text-transform: uppercase;
              line-height: 100%;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 2vh;
              text-align: right;
              padding-right: 1.5em;
            }

            li:nth-child(2) {
              font-size: 1.2rem;
              margin-top:0.2em;
            }

            &.temperature {
              color: $color-light-blue;
            }
            &.pressure {
              color: $color-light-blue;
            }
            &.wind {
              color: $color-rose;
            }
            &.humidity {
              color: $color-rose;
            }
            &.uv {
              color: $color-cyan;
            }
            &.contamination {
              color: $color-cyan;
            }
          }
        }
      }
  }

  .slide-main {
    div.ring {
      width:100%;
      position: absolute;
      bottom: 5vh;
      z-index: 99;
      footer {
        margin-bottom: 2vh;
      }
      .chart {
        height: 46vh;
        width: 100%;
        background: url(../img/kolo.png) no-repeat;
        background-position: center center;
        background-size: 80%;

        img {
          position: absolute;
          z-index: 99;
          height: 5.5vh;
        }
        img[src*='profile'] {
          left: 0;
          right: 0;
          margin-top: 1vh;
          margin-left: auto;
          margin-right: auto;
        }
        img[src*='star'] {
          bottom: 1vh;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
        }
        img[src*='env'] {
          bottom: 21vh;
          right: 12%;
        }
        img[src*='statystyki'] {
          bottom: 21vh;
          left: 12%;
        }
      }
    }
    ul {
      &.dataType {
        text-transform: uppercase;
        font-size: 0.8em !important;
        li {
          display: inline;
          color: $color-dark-grey;
          line-height: 2em;
          padding: 0.5em 0;

          &.active {
              color: $color-rose;
          }

          &:nth-child(1) {
            margin-right: 3em;
          }
        }
      }
    }
  }

  .swiper-pagination {
    display: none;
  }

  footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;

    &.onBottom {
      position: absolute;
      z-index: 99;
      bottom: 5%;
      left: 0;
      right: 0;
    }

    p {
      margin: 0;
      padding: 0;
      line-height: 130%;
      &:last-child {
        color: $color-dark-grey;
      }
    }
  }

  div.commonHeader {
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 0;
    right: 0;
    display: block;
    font-family: 'Desib', 'Tahoma';

    img {
      &.gps {
        position: absolute;
        width: 10vw;
        top: -5vw;
        right: 5vw;
      }
    }

    h1 {
      text-transform: uppercase;
      font-family: 'Desib', 'Tahoma';
      color: white;
      font-size: 1.4em;
    }
  }
}
